<div  ng-controller="HomeCtrl">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1" style="margin-top: 35%">
      <h1 style="text-align: center">MrMedia</h1>
    </div>
    <div class="col-xs-10 col-xs-offset-1" style="margin-top: 35%">
      <button ui-sref="app.salary" class="weui-btn weui-btn_plain-primary">查看薪资</button>
    </div>
    <div class="col-xs-10 col-xs-offset-1" style="margin-top: 10%">
      <button  ui-sref="app.talent" class="weui-btn weui-btn_plain-primary">艺人审核</button>
    </div>
  </div>
</div>
